*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/app/src/main/java/com/hallym/weathercheck/StationLocationInterface.kt
/app/src/main/java/com/hallym/weathercheck/AirPolutionInterface.kt
/app/src/main/java/com/hallym/weathercheck/WeatherInterface.kt
.externalNativeBuild
.cxx
local.properties
